body, *{
    margin: 0;
    padding: 0;
}
#global-chat{
    width: 80vw;
    min-height: 80vh;
    background: black;
    color: white;
    position: absolute;
}
#chat-history{
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#send-message input[type="text"]{
    width: 75%;
}
#send-message button{
    min-width: 18%;
    max-width: 20%;
    float: right;
}
.BotMessage{
    height: 2vh;
}
.BotMessage p{
    display: inline-block;
    max-width: 50%;
    word-wrap:break-word;
    background: rgb(220, 220, 220);
    padding: 1%;
    border-radius: 30px;
    text-align: justify;
    position: inherit;
    align-items: flex-start;
    float: right;
    margin: 1%;
    margin-bottom: 2%;
}
.SendMessage p{
    display: inline-block;
    max-width: 50%;
    word-wrap:break-word;
    background: rgba(36, 77, 180, 0.455);
    padding: 1%;
    border-radius: 30px;
    text-align: justify;
    margin: 1%;

}
.SendMessage{
    
}